<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>
	<nav>
		<a href='/'>Home</a>
		<a href='/favorites' >Favorites</a>
		<a href='/favorites/new' >New</a>
	</nav>
	<h1>Hello! Welcome to the home page!</h1>
</body>
</html>