<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>
	<nav>
		<a href='/'>Home</a>
		<a href='/favorites' >Favorites</a>
		<a href='/favorites/new' >New</a>
	</nav>
	<h1>Add a new animal!</h1>
	<form method="POST" action="/favorites">
		<label for="species_name">Species name:</label>
		<input type="text" id="species_name" name="species_name">
		<br />
		<label for="scientific_name">Scientific name:</label>
		<input type="text" id="scientific_name" name="scientific_name">
		<br />
		<label for="image_url">Image URL:</label>
		<input type="text" id="image_url" name="image_url">
		<br />
		<label for="description">Description:</label>
		<input type="text" id="description" name="description">
		<br />
		<label for="extinct">Extinct(please only select one)</label>
		<input type="radio" id="extinct" name="extinct" value="Yes" checked>Yes
		<input type="radio" id="extinct" name="extinct" value="No">No
		<br />
		<input type="submit" value="ADD ANIMAL">
	</form>
</body>
</html>